{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jean Claude Van Give a Damn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher Grypen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas Neue" rel="stylesheet">
</head>
<body>
    <header class="navbar-fixed teal accent-1">
        <nav>
        <div class="nav-wrapper">
            <ul>
            <li><a href="/" class="left brand-logo">&nbsp;&nbsp;PerfectMatch()</a></li>
            </ul>
            <ul class="right">
            <li><a href="{% url 'sign_in' %}">sign in</a></li>
            <li><a href="{% url 'sign_up' %}">sign up</a></li>
            <li><a href="{% url 'search' %}">find a job</a></li>
            <li><a href="{% url 'Job_Listing' %}">jobs</a></li>
            <li><a href="{% url 'matches' %}">my matches</a></li>
            <li><a href="{% url 'saves' %}">my saves</a></li>
            <li><a href="{% url 'profile' %}">my profile</a></li>
            {% if user.is_authenticated %}
                <!-- <li><a href="{% url 'logout' %}">log out</a></li> -->
            {% else %}
            <!-- <li><a href="{% url 'sign_up' %}">sign in</a></li>
            <li><a href="{% url 'sign_in' %}">Log In</a></li> -->
            {% endif %}
            </ul>
        </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer teal accent-1">
        <div class="right">All Rights Reserved, &copy; 2022 gopjp &nbsp;</div>
        <div class="left"> <li><a href="{% url 'about' %}">about</a></li></div>
    </footer>
</body>
</html>