{% extends 'base.html' %} {% block content %}
<h1>sign up</h1>

{% if skills.count %} {% for skill in skills.all %}
<div class="card">
  <div class="card-content">
    <span class="card-title">
      A <span style="color: {{ skill.name }}"></span> {{ skill.name }}
    </span>
  </div>
  <!-- <div class="card-action">
    <form action="{% url 'assoc_toy' cat.id toy.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn">Add</button>
    </form>
  </div> -->
</div>
{% endfor %} {% else %}
<h5>{{ skill.name }} Has all skills available</h5>
{% endif %} {% endblock %}
