{% extends 'base.html' %} {% block content %}

<h3>Profile</h3>
<form class="loginfrm" action="{% url 'add_skill' user.id %}" method="POST">
  {% csrf_token %} <div class="loginfrm"> {{ skill_form.as_p }} </div>
  <input type="submit" class="btn black" value="Add Skill" />
</form>

{% for skill in myuser.skill_set.all %}
<tr>
  <td>{{ skill.name }}</td>
</tr>
{% endfor %}

<p>{{ user.name }}</p>
<p>{{ user.email }}</p>
<div class="col s6">
  <h3>My Skills</h3>
  {% if myuser.skills.count %} {% for skill in myuser.skills.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <p>{{ skill.name }}</p>
        <form class="delete_button" action="{% url 'delete_skill' user.id skill.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn red">X</button>
        </form>
      </span>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
