{% extends 'base.html' %} {% block content %}

<h3>Profile</h3>

<form action="{% url 'add_skill' user.id %}" method="POST">
  {% csrf_token %} {{ skill_form.as_p }}
  <input type="submit" class="btn" value="Add Skill" />
</form>

{% for skill in myuser.skill_set.all %}
<tr>
  <td>{{ skill.name }}</td>
</tr>
{% endfor %}

<p>{{ user.name }}</p>
<p>{{ user.email }}</p>
<div class="col s6">
  <h3>My Skills</h3>
  {% if myuser.skills.count %} {% for skill in myuser.skills.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <p>{{ skill.name }}</p>
      </span>
    </div>
    <div class="card-action">
      <form action="{% url 'delete_skill' user.id skill.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">X</button>
      </form>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

</div>
<!-- Insert photo markup below this comment -->
{% for resume in myuser.resume_set.all %}
  <a href={{resume.url}} class= btn btn-primary>Download resume pdf</a>
{% empty %}
  <div class="card-panel teal-text center-align">No Resumes Uploaded</div>
{% endfor %}

<form action="{% url 'add_resume' myuser.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="resume-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Resume">
</form>


{% endblock %}
